body {
	background: url(Untitled-2.svg) no-repeat;
	max-width: 100%;
	height: auto;
}

section {
}

@viewport {
	zoom:1.0;
	width: extend-to-zoom;
}

@-ms-viewport {
	width: extend-to-zoom;
	zoom: 1.0;
}

#kuncha98 {
	float: left;
	margin-top: 20px;
	margin-left: 10px;
	font-family: 'Kaushan Script';
	font-size: 35px;
}

/*swing image */
.swing {
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    float:left;
    margin-left: 150px;
    margin-top: 100px;
}

.swing img {
    display: block;
}

@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}


ul {
	display: inline-block;
}

li {
	list-style-type: none;
	display: inline-block;
}

a {
	text-decoration: none;
}

/*nav bar button & customize*/
button {
  position: relative;
  padding: 0.5em 1.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-family: 'Kaushan Script';
  font-size: 20px;
  margin: 1em 0.8em;
}

/*bio button*/
.fill {
    color: #566473;
}
	.fill::after,
	.fill::before {

      content: '';
      display: block;
      position: absolute;
      width: 20%;
      height: 20%;
      border: 2px solid;
      transition: all 0.6s ease;
      border-radius: 2px;
	}

	.fill::after {

      bottom: 0;
      right: 0;
      border-top-color: transparent;
      border-left-color: transparent;
      border-bottom-color: #566473;
      border-right-color: #566473;
    }

    .fill::before {

      top: 0;
      left: 0;
      border-bottom-color: transparent;
      border-right-color: transparent;
      border-top-color: #566473;
      border-left-color: #566473;
	}

    .fill:hover:after,
    .fill:hover:before {

      width: 100%;
      height: 100%;
	}

/*blog button*/ 
.pulse {
    color: #16a085;
}
    .pulse:after,
    .pulse:before {

      content: '';
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #16a085;
      transition: all 0.3s ease;
      transform: scale(0.85);
	}

    .pulse:hover:before{

      top: 0;
      transform: scale(1);
	}

    .pulse:hover:after{

    	border-bottom-color: #566473;
    	transform: scale(1);
	}
 
 /*contact button*/ 
.raise {
    color: #435a6b;
}

    .raise::after,
    .raise::before {

      content: '';
      display: block;
      position: absolute;
      width: 20%;
      height: 20%;
      border: 2px solid;
      transition: all 0.6s ease;
      border-radius: 2px;
	}

    .raise::after {

      bottom: 0;
      right: 0;
      border-top-color: transparent;
      border-left-color: transparent;
      border-bottom-color: #435a6b;
      border-right-color: #435a6b;
	}

    .raise::before {

      top: 0;
      left: 0;
      border-bottom-color: transparent;
      border-right-color: transparent;
      border-top-color: #435a6b;
      border-left-color: #435a6b;
	}

    .raise:hover:after,
    .raise:hover:before {

      border-bottom-color: #435a6b;
      border-right-color: #435a6b;
      border-top-color: #435a6b;
      border-left-color: #435a6b;
      width: 100%;
      height: 100%;
	}


.ul {
	float: right;
	margin-right: 50px;
	margin-top: 30px;
}

.me {
	border-radius: 50%;
}



#myname {
	font-family: 'Shadows Into Light';
	font-size: 20px;
}

.name {
	font-family: 'Boogaloo';
	font-size: 45px;
}

#char {
	font-family: 'amatic sc';
	font-size: 40px;
}

/*horizontal rule*/
#hr {
	min-width: 30%;
	max-width: 50%;
	border-color: #35ca5a;
}

/*name part*/
.body {
	float: right;
	margin-bottom: 0;
	margin-top: 400px;
	margin-right: 7em;
	text-align: center;
	align-items: center;
}
